@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    background: #ffb178;
    
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-template-rows: repeat(7, 65px);
    gap: .8rem;
    background: #243441;
    padding: .8rem;
    border-radius: 30px;
    /* transition: 250ms; */
}
.res-display{
    grid-area: 1 / 1 / 3/ 5 ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    text-align: end;
    padding: .8rem;
    word-wrap: break-word;
    word-break: break-all;
}
.prev-display{
    font-size: 1.3rem;
    color: #c5c5c5;
}
.curr-display{
    font-size: 2.2rem;
}
.item-area{
    grid-column: span 2;
    background: #ed802d;
    transition: 200ms;
}
.item-area:hover{
    background: #d16f24;
}
button{
    cursor: pointer;
    text-align: center;
    color: #ebebeb;
    background: #243441;
    border: 0;
    outline: 0;
    font-size: 1.03rem;
    
    border-radius: 12px;
    background: #293c4b;
    box-shadow:  5px 5px 50px #273a48,
             -5px -5px 50px #2b3e4e;

    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    
}
button:hover{
    color: #c5c5c5;
}
.operators{
    color: #ed802d;
}
.operators:hover{
    color: #d16f24;
}

.attribution { font-size: 14px; text-align: center; padding-top: 10px;}
.attribution a { color: hsl(228, 45%, 44%); }